.card-container{
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 335px;
    .card{
    transition: transform 300ms ease 0s;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
}
.blog-card{
    max-width: 100%;
    height: 180px;
}
.cardBottom-content{
    font-size: 14px;
}
}

@media screen and (max-width: 1120px) {
        .card-container{
            max-width: 320px !important;
        }
        .blogs-container{
            flex-direction: column;
        }
        .category-container{
            display: flex !important;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
            width: 100% !important;
        }
        .blog_subHead{
            font-size: 16px !important;
        }
        .banner-content{
            width: 38% !important;
            padding-left: 2% !important;
        }
}

@media screen and (max-width: 767px) {
    .each-card{
        justify-content: center !important;
    }
    .blog-bg{
        width: 100% !important;
        img{
            height: 340px !important;
        }
    }
    .blog-banner{
        flex-direction: column;
    }
    .banner-content.mt-5{
        width: 100% !important;
        margin-top: 10px !important;
    }
}
@media screen and (max-width: 767px) {
    .blog-bg img{
        height: 250px !important;
    }
}
.category-block{
    width: 18rem;
    margin-top: 20px;
}
.category-list{
    cursor: pointer;
}
.loading{
    text-align: center;
    margin-top: 200px;
}

.blog-banner{
    display: flex;
    .blog-bg{
        width: 60%;
        img{
            width: 100%;
            height: 450px;
        }
    }
    .banner-content{
        width: 35%;
        padding-left: 5%;
    }
    .blog_head{
        font-size: 56px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .blog_subHead{
        font-size: 22px;
        margin-top: 40px;
    }
}